/** CSS STYLE **/

:root {
  --white: #fff;
  --transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans.ttf");
}

@font-face {
  font-family: "Neucha";
  src: url("../fonts/Neucha.ttf");
}

body {
  font-family: "OpenSans", sans-serif;
  font-size:  16px;
  line-height: 1.6em;
  color: var(--dark);
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section, footer {
  max-width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

header {
  position: relative;
  background-color: var(--light);
}

header::before {
  content: '';
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 10%;
  width: 100%;
  height: 100%;
}

.image-position {
  position: relative;
  border: solid;
  height: 580px;
  display: block;
  margin: 0 auto;
}

#header-image {
  height: 525px;
  width: auto;
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: 1;
}

#header-title {
  padding-top: 100px;
  font-weight: 400;
  color: var(--dark);
  position: absolute;
  z-index: 2;
}

.orange-text {
  color: var(--main);
}

.flex-section {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  border: solid;
  margin: 0 auto;
  color: var(--dark);
}

.flex-block {
 width: 540px;
}

a {
  border: none;
  margin-top: 40px;
  padding: 12px 24px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--main);
  display: inline-block;
  opacity: 100%;
  text-decoration: none;
  position: relative;
}